/*style.css*/
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Lora');

body {
  font-family: 'Encode Sans Expanded', sans-serif;
}


/*simple brown line*/
hr{
  height: 2px;
  display: block;
  border: 0;
  border-top: 2px solid #4d2f0f;
  margin: 1em 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: bold;
  color:  #4d2f0f ;
}

#time-slider, #sheep-speed-slider {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.jumbotron{
    padding-top: 1em;
    padding-bottom: 1em;
}


@media (max-width: 575px) {
    .container{
	margin-bottom:1em;
	padding-top: 1em;
	padding-bottom: 1em;
    }
}

@media (min-width: 576px) {
    .container{
	margin-top:1em;
	margin-bottom:1em;
	padding-top: 1em;
	padding-bottom: 1em;
    }
}

* {
  border-radius: 0 !important;
}
